/* 基本样式 */
body {
    font-size: 16px; /* 或更大，如 18px */
}

#question {
    font-size: 20px; /* 问题的字体更大 */
}

button {
    font-size: 18px; /* 按钮文字的字体大小 */
}

#quiz-container {
    width: 90%;
    max-width: 600px;
    margin: auto;
    text-align: center;
}

button {
    margin: 10px;
}

/* 当屏幕宽度小于 600px 时 */
@media (max-width: 600px) {
    button {
        width: 300%;
    }
}
