
body {
    font-family: 'Avenir', sans-serif;
    color: #503A00;
    /*background-image: url('pic0.jpg');
    background-size: auto; /* 覆盖整个页面 */
    /*background-repeat: no-repeat; /* 不重复背景图像 */
    /*background-position: center top; /* 图片居中 */
}
#question {
    position: absolute;
    top: 35px; /* 距离最近的已定位祖先元素顶部 50px */
    left: 13px; /* 距离最近的已定位祖先元素右边 30px */
    width: 381px;
    height: 700px;
    margin: auto;
    text-align: left;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -0.02em;
    white-space: pre-line;
    line-height: 35px;
    font-family: Avenir;
    z-index: 1;

}
#part2_text {
    position: absolute;
    top: 40px; /* 距离最近的已定位祖先元素顶部 50px */
    left: 22px; /* 距离最近的已定位祖先元素右边 30px */
    width: 381px;
    height: 700px;
    margin: auto;
    text-align: left;
    font-size: 30px;
    white-space: pre-line;

}

#buttonJa {
    font-family: Avenir;
    font-size: 25px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    position: absolute;
    top: 500px; /* 距离最近的已定位祖先元素顶部 50px */
    left: 22px; /* 距离最近的已定位祖先元素右边 30px */
    width: 147px;
    height: 76px;
    margin: auto;
    background: #FFC300;
    box-shadow: 0px 2px 6px 0px rgba(103, 75, 0, 0.3);
    text-align: center;
    border:0;
    border-radius: 27px;
    z-index: 1;

}


#buttonNein {
    font-family: Avenir;
    font-size: 25px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: -0.03em;
    color: #FFC300;
    position: absolute;
    top: 500px; /* 距离最近的已定位祖先元素顶部 50px */
    left: 224px; /* 距离最近的已定位祖先元素右边 30px */
    width: 147px;
    height: 76px;
    margin: auto;
    background: #FFFFFF;
    border-radius: 27px;
    text-align: center;
    border:0;
    border-radius: 27px;
    box-shadow: 0px 2px 6px 0px rgba(191, 139, 0, 0.1);
    z-index: 1;


}




#buttonA {
    position: absolute;
    top: 418px; /* 距离最近的已定位祖先元素顶部 50px */
    left: 20px; /* 距离最近的已定位祖先元素右边 30px */
    width: 351px;
    height: 51px;
    font-size: 16px;
    color: black;
    background-color: white;
    margin: auto;
    border-color: black;
    border-radius: 25px;
    cursor: pointer;
    text-align: left;
    z-index: 1;
    border:0;
    box-shadow: 0px 1px 5px 0px rgba(0, 111, 193, 0.1);



}
#buttonB {
    position: absolute;
    top: 477px; /* 距离最近的已定位祖先元素顶部 50px */
    left: 20px; /* 距离最近的已定位祖先元素右边 30px */
    width: 351px;
    height: 51px;
    font-size: 16px;
    color: black;
    background-color: white;
    margin: auto;
    border-color: black;
    border-radius: 25px;
    cursor: pointer;
    text-align: left;
    z-index: 1;
    border:0;
    box-shadow: 0px 1px 5px 0px rgba(0, 111, 193, 0.1);



}
#buttonC {
    position: absolute;
    top: 536px; /* 距离最近的已定位祖先元素顶部 50px */
    left: 20px; /* 距离最近的已定位祖先元素右边 30px */
    width: 351px;
    height: 51px;
    font-size: 16px;
    color: black;
    background-color: white;
    margin: auto;
    border-color: black;
    border-radius: 25px;
    cursor: pointer;
    text-align: left;
    z-index: 1;
    border:0;
    box-shadow: 0px 1px 5px 0px rgba(0, 111, 193, 0.1);



}
#buttonD {
    position: absolute;
    top: 595px; /* 距离最近的已定位祖先元素顶部 50px */
    left: 20px; /* 距离最近的已定位祖先元素右边 30px */
    width: 351px;
    height: 51px;
    font-size: 16px;
    color: black;
    background-color: white;
    margin: auto;
    border-color: black;
    border-radius: 25px;
    cursor: pointer;
    text-align: left;
    z-index: 1;
    border:0;
    box-shadow: 0px 1px 5px 0px rgba(0, 111, 193, 0.1);



}

#buttonNextQustion {
    position: absolute;
    top: 640px; /* 距离最近的已定位祖先元素顶部 50px */
    left: 200px; /* 距离最近的已定位祖先元素右边 30px */
    width: 120px;
    height: 51px;
    font-size: 16px;
    color: black;
    background-color: white;
    margin: auto;
    border-color: black;
    border-radius: 25px;
    cursor: pointer;
    text-align: left;
}
#feedback {
    font-size: 16px;
    margin: 20px 0;
    text-align: center;
}

#score {
    font-size: 18px;
    font-weight: bold;
    color: #28a745;
}
